-
    var awardHeader = '#awards'
        awardList = [
            {
                title: '100 rating on Google PageSpeed Insights for all my projects',
                description: 'With this projects i gain a lot of knowledge and experience',
                location: 'Iasi / Romania',
                date: '2019',
            },
        ];

#award
.award
    .award__header=awardHeader
    each award in awardList
        .award__card
            .award__icon
                span.my-cv__icon--trophy
            .award__title=award.title

            .award__icon
                span.my-cv__icon--info
            .award__description=award.description

            .award__icon
                span.my-cv__icon--map2
            .award__location=award.location

            .award__icon
                span.my-cv__icon--calendar
            .award__date=award.date