-
    var header = '#experience'
        experienceList = [
            {
                title: 'Roberto Blake Replica',
                date: '11 Jan 2019 - 24 Jan 2019',
                company: 'My Home Company',
                responsabilityList: [
                    'Build the website',
                    'Upload the website',
                    'Learn a lot of things (responsive web desing, how to hide the .html or .php extention)',
                    'The link of these project is in #recent project section',
                ],
            },
            {
                title: 'My Blog',
                date: '15 Dec 2018 - 8 Jan 2019',
                company: 'My Home Company',
                responsabilityList: [
                    'Build the website',
                    'Upload the website',
                    'Learn a lot of things (display grid, fluid typography)',
                    'The link of these project is in #recent project section',
                ],
            },
            {
                title: 'My CV',
                date: '5 Dec 2018 - Present',
                company: 'My Home Company',
                responsabilityList: [
                    'Build the website',
                    'Upload the website',
                    'Learn a lot of things (extend & collapse accordion)',
                    'The link of these project is in #recent project section',
                ],
            },
            {
                title: 'My first project (W3Schools-replica)',
                date: '1 Dec 2018',
                company: 'My Home Company',
                responsabilityList: [
                    'Build the website',
                    'Upload the website',
                    'Learn a lot of things: How to create a website from scratch.',
                    'The link of these project is in #recent project section',
                ],
            },
        ];

#experience
.experience
    .experience__header=header
    input(
        type="radio",
        name="experience",
        id="deselect",
    )
    label(for="deselect") &times;
    each experience, key in experienceList
        input.experience__input(
            type="radio",
            name="experience",
            id=`experience-id-${key}`,
        )
        label.experience__title(for=`experience-id-${key}`)=experience.title
        .experience__details
            .experience__top
                .experience__date=experience.date
                .experience__company=experience.company
            .experience__list
                each responsability in experience.responsabilityList
                    .experience__responsability=responsability