-
    var header = '#experience'
        experienceList = [
            {
                title: 'Roberto Blake Replica',
                date: '11 Jan 2019 - 24 Jan 2019',
                company: 'My Home Company',
                responsabilityList: [
                    'Build the website from scratch',
                    'Upload the website',
                    'Learn a lot of things (responsive web desing, how to hide the .html or .php extention)',
                    'The link of these project is in #recent projects section',
                ],
            },
            {
                title: 'My Blog',
                date: '15 Dec 2018 - 8 Jan 2019',
                company: 'My Home Company',
                responsabilityList: [
                    'Build the website from scratch',
                    'Upload the website',
                    'Learn a lot of things (display grid, fluid typography)',
                    'The link of these project is in #recent projects section',
                ],
            },
            {
                title: 'My CV',
                date: '5 Dec 2018 - Present',
                company: 'My Home Company',
                responsabilityList: [
                    'Build the website from scratch',
                    'Upload the website',
                    'Learn a lot of things (extend & collapse accordion, how to create a menu with #id)',
                    'The link of these project is in #recent projects section',
                ],
            },
            {
                title: 'My first project',
                date: '1 Dec 2018',
                company: 'My Home Company',
                responsabilityList: [
                    'Build the website from scratch',
                    'Upload the website',
                    'Learn a lot of things: How to create a website from scratch.',
                    'The link of these project is in #recent project section',
                ],
            },
            {
                title: 'Mega-menu challenge',
                date: '4 Feb 2019 - 7 Feb 2019',
                company: 'My Home Company',
                responsabilityList: [
                    'This is a small project, a challenge maybe.',
                    'Build the website from scratch',
                    'Upload the website',
                    'Learn how to create a responsive mega-menu from scratch',
                    'The link of these project is in #recent project section',
                ],
            },
        ];

#experience
.experience
    .experience__header=header
    input.experience__input-default(
        type="radio",
        name="experience",
        id="deselect",
        checked
    )
    each experience, key in experienceList
        input.experience__input(
            type="radio",
            name="experience",
            id=`experience-id-${key}`,
        )
        label.experience__title(for=`experience-id-${key}`)
            | #{experience.title}
            label(for="deselect")
                span(class=`my-cv__icon--plus`)
        .experience__details
            .experience__top
                .experience__date=experience.date
                .experience__company=experience.company
            .experience__list
                each responsability in experience.responsabilityList
                    .experience__responsability=responsability